<table class="reservation">
    <tr>
        {var $counter = 1}
        {foreach $places as $key => $place}
            <td class="free">
                <a href="#" class="place" data-toggle="modal" data-target="#modal" data-place="{$place}">{$place}</a>
                {if $counter >= 20}
            </tr>
            {var $counter = 0}
        {/if}
    </td>
    {php $counter++}
{/foreach}    
<tr>            
</table>