table.reservation tr td {
    border: 1px solid #333;
}

table.reservation tr td > a, span {
    padding: 5px;
    text-align: center;
    color: #fff;
}

.free {
    background-color: green;
}

.occupied {
    background-color: red;
}